/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.avatar {
  max-width: 15rem;
  max-height: 15rem;
  border-radius: 50%;
  border: 0.5rem solid #48917e;
}

.datable-content {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.datable-content .content .header {
  margin-top: 1rem;
  font-size: 2rem;
  color: #9b9b9b;
}

.datable-content .content p {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #000000;
}

.datable-content .content {
  width: 70%;
  float: right;
}

.datable-content .date {
  float: left;
  width: 30%;
  text-align: right;
  color: #75e2c7;
  font-size: 20px;
  font-weight: 700;
}

.social-icons {
  margin-top: 5rem;
}

.social-icons a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 65px;
  height: 65px;
  margin-right: 35px;
  border-radius: 100%;
  background-color: #9b9b9b;
  font-size: 2rem;
}

.social-icons a:hover {
  background-color: #75e2c7;
}

.container {
  margin-left: 23rem;
}

.text-main-color {
  color: #75e2c7;
}

.resume-section {
  display: flex;
  align-items: center;
  padding-left: 8rem;
  padding-right: 8rem;
  min-height: 100vh;
}

.nameheading {
  margin-bottom: 20px;
  font-weight: 600;
}

.heading {
  margin-bottom: 30px;
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

.sub-heading {
  font-size: 33px;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  margin-top: 100px;
  margin-bottom: 30px;
}

.cover-letter {
  font-size: 23px;
  font-weight: 100px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.resume-section p {
  margin-top: 5rem;
  font-size: 1.5rem;
  color: #000000;
}

.section-hr {
  margin-left: 5rem;
  margin-right: 5rem;
}

.awards-list {
  margin-top: 5rem;
  font-size: 1.5rem;
}

.navbar {
  background-color: #75e2c7;
  text-align: center;
  position: fixed;
}

.navbar a {
  padding-bottom: 2rem;
}

.navbar ul {
  font-size: 1.55rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

.navbar li {
  padding-top: 2rem;
  color: #ffffff;
  transition: color 0.3s;
}

.navbar li:hover {
  color: #cecece;
}

.sidenav {
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 23rem;
}

body {
  font-family: "Oswald", sans-serif;
}
